*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#parent{
    display: flex;
    flex-wrap: wrap;
}

.child{
    width: 300px;
    height: 300px;
    background-color: #ffebcd;
    margin: 15px;
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
    height: 75px;
    outline: black;
    font-size: 30px;
}
